<div>
  <h3>{{ atm.message }}</h3>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <img class="pull-left" src="images/atm-32.png" alt="atm icon">
        <h2 class="panel-title text-right">ATM Withdrawal</h2>
        <p class="text-right">
          <em>{{ getTotalAmount(atm.xTransaction) | currency }}</em>
        </p>
        </div> <!-- end panel-header -->
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>amount</th>
              <th>description</th>
            </thead>
            <tbody class="purchase-item">
              <tr ng-repeat="p in atm.xTransaction.purchases">
                <td>{{ p.amount | currency }}</td>
                <td>{{ p.description }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>{{ getTotalSpent(atm.xTransaction) | currency }}</td>
                <td>total</td>
              </tr>
              <tr class="text-right remaining">
                <td>{{ (getTotalAmount(atm.xTransaction) - getTotalSpent(atm.xTransaction)) | currency }}</td>
                <td>remaining</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

