<div class="list-group" ng-controller="atmSidebarCtrl as atmSb">

  <h3>{{ atmSb.title }}</h3>

  <div ng-repeat="data in atmSb.xData">

    <a class="list-group-item" href="#/atmdetails/{{ data.idx }}"
       ng-click="atmSb.setSelected(data.idx)"
       ng-class="{ active: data.idx === atmSb.idxSelected }">

      <h4 class="list-group-item-heading">{{ data.cashAmount | currency }}</h4>
      <p class="list-group-item-text">on {{ data.date | date }}</p>
    </a>
  </div>
</div> <!-- end list-group -->