
<div class="col-sm-3">

  <h3>ATM transaction list</h3>

  <div class="list-group" >

    <a class="list-group-item" href="#/{{ transaction.idx }}" ng-repeat="transaction in withdrawals">
      <h4 class="list-group-item-heading">{{ getTotalAmount(transaction) | currency }}</h4>
      <p class="list-group-item-text">on {{ transaction.date | date }}</p>
    </a>

  </div> <!-- end list-group -->
</div> <!-- end col-sm-3 -->

<div class="col-sm-9">
  <h1>This is where the details will be...</h1>
  <p class="lead">Select a ATM withdrawal from the list on the left to see the details.</p>
</div><!-- end col-sm-9 -->
